.list {
  display: flex;
  flex-direction: column;
}

.miscs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.img {
  display: flex;
  align-self: center;
  max-width: 70%;
}

@media (max-width: 767px) {
  .img {
    width: 70vw;
    max-width: 100%;
  }
}

@media (min-width: 375px) {
  .img {
    width: 65vw;
    height: auto;
  }
}

.rs {
  font-family: "Caveat Brush", sans-serif;
  font-size: 1.3em;
  color: var(--text);
}

.h2 {
  font-size: 1.4em;
  font-weight: 650;
  color: var(--text);
  font-family: "Arima", sans-serif;
}

.bodycontainer {
  background-color: rgba(255, 255, 255, 0.938);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 15px 20px;
  margin: 50px;
  font-family: Verdana, Tahoma, sans-serif;
}

@media (max-width: 767px) {
  .bodycontainer {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .bodycontainer {
    font-size: 14px;
    margin: 20px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding: 10px 0px 10px 10px;
}

.rs2 {
  font-family: "Caveat Brush", sans-serif;
  font-size: 1.3em;
  color: var(--label-by);
}
