/* src/index.css */
:root {
  --primary-color: #f4ce79;
  --nav: #f57f4c;
  --label-by: #d12f4fcb;
  --button: #65becb;
  --text: #7b3d0a;
  --label: #1684a5;
}

a {
  color: #4551d4;
}

body {
  background-image: url("background.jpg");
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text);
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin-right: 16px;
}

label {
  margin: 16px 0px;
  font-weight: bold;
  color: var(--label);
}

.label2 {
  margin: 16px 0px;
  font-weight: bold;
  color: var(--label-by);
}

input {
  padding: 8px;
}

button {
  background-color: var(--button);
  color: var(--text);
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
